@media (max-width: 600px) {

    #app input {

    flex: 1;
    
    outline: none;
    border: 0;

    width: 400px;
    height: 33.32px;

    background: #FFFFFF;
    border-radius: 16px;

    padding: 16px 24px;
    
    }

    #add { 
        cursor: pointer;

        margin-top: 16px;
    
        outline: none;
        border: 0;
    
        width: 133.29px;
        height: 33.32px;
    
        background: #427E5A;
        border-radius: 16px;
    }

}